/ %h1 New Contact
/ = form_for :contact, url: contacts_path do |f|
/   %p
/     = f.label :name
/     = f.text_field :name
/   %p
/     = f.label :email
/     = f.text_field :email
/   %p
/     = f.label :address
/     = f.text_field :address
/   %p
/     = f.label :number
/     = f.text_field :number
/   %p
/     = f.submit

%head
  %title Example
  :css
    * {
      font-family: Verdana, sans-serif;
      margin: 0;
      padding: 0;
      }
    
    body {
      padding: 20px;
      font-size: 76%; /* font sizing in ems, change this to change sizes, do not set below 76% */
      color: #000;
      }
    
    .cleaner {
      height: 0;
      clear: both;
      }
    
    /* second table */
    
    .container {
      margin-bottom: 10px;
      }
    
    .content {
      width: 670px;
      padding-bottom: 20px;
      }
    
    h2 {
      width: 670px;
      padding: 12px 0 10px 15px;
      font-size: 1em;
      }
    
    #table2 p {
      float: left; /* needs to float in order for images to catch in ff and opera */
      clear: both;
      width: 100%;
      margin: 0;
      padding-left: 3px;
      font-size: 1em;
      line-height: 1.8em;
      }
    
    #table2 span {
      float: left;
      padding: 0 10px;
      border-top: 1px solid #e3e7e7;
      }
    
    #table2 p.firstLine span { /* to get rid of the top border caused by previous */
      border-top: none;
      }
    
    #table2 span.col1 {
      width: 110px;
      }
    
    #table2 span.col2 {
      width: 382px;
      }
    
    #table2 span.col3 {
      width: 112px;
      text-align: right;
      }
    
    #table2 .lastLine { /* you need this class on the empty last line to create an even border on the last row of the table */
      clear: both;
      width: 666px;
      margin-left: 3px;
      border-top: 1px solid #e3e7e7;
      }
%body
  .container
    %h2 Tableless Table "Hack"
    .content
      #table2
        %p.firstLine
          %span.col1  
          %span.col2  
          %span.col3  
        %p
          %span.col1  
          %span.col2  
          %span.col3 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam consequat, odio facilisis lobortis aliquam, magna elit egestas dui, ullamcorper gravida enim dui ut mauris.
        %p
          %span.col1  
          %span.col2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam consequat, odio facilisis lobortis aliquam, magna elit egestas dui, ullamcorper gravida enim dui ut mauris.
          %span.col3  
        %p
          %span.col1 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam consequat, odio facilisis lobortis aliquam, magna elit egestas dui, ullamcorper gravida enim dui ut mauris.
          %span.col2  
          %span.col3  
        .lastLine
      / eof #table
      .cleaner
    / eof #content
  / eof #container