%head
  %title Example
  :css
    * {
    	font-family: Verdana, sans-serif;
    	margin: 0;
    	padding: 0;
    	}
    
    body {
    	padding: 20px;
    	font-size: 76%; /* font sizing in ems, change this to change sizes, do not set below 76% */
    	color: #000;
    	}
    
    .cleaner {
    	height: 0;
    	clear: both;
    	}
    
    /* first table */
    
    #table {
    	width: 470px;
    	border-top: 4px solid #e3e7e7;
    	}
    
    #table p {
    	float: left; /* needs to float in order for lines to catch in ff and opera */
    	clear: both;
    	width: 100%;
    	margin: 0;
    	background: url(images/borders2.gif) 0 0 repeat-y; /* add an image to create left and right borders */
    	}
    
    #table span {
    	float: left;
    	padding: 0 10px;
    	border-top: 1px solid #e3e7e7;
    	}
    
    #table p.firstLine span { /* to get rid of the top border from previous */
    	border-top: none;
    	}
    
    #table span.col1 {
    	width: 111px;
    	}
    
    #table span.col2 {
    	width: 187px;
    	}
    
    #table span.col3 {
    	width: 112px;
    	}
    
    #table .lastLine { /* you need this class on the empty last line to create an even border on the last row of the table */
    	clear: both;
    	width: 470px;
    	border-top: 1px solid #e3e7e7;
    	}
    
    /* second table */
    
    .container {
    	background: url(images/bricket-gry-mid-670.gif) repeat-y;
    	margin-bottom: 10px;
    	}
    
    .content {
    	width: 670px;
    	background: url(images/bricket-gry-bot-670.gif) bottom left no-repeat;
    	padding-bottom: 20px;
    	}
    
    h2 {
    	background: url(images/bricket-gry-top-670.gif) top left no-repeat;
    	width: 670px;
    	padding: 12px 0 10px 15px;
    	font-size: 1em;
    	}
    
    #table2 p {
    	float: left; /* needs to float in order for images to catch in ff and opera */
    	clear: both;
    	width: 100%;
    	margin: 0;
    	padding-left: 3px;
    	font-size: 1em;
    	line-height: 1.8em;
    	background: url(images/borders.gif) 4px 0 repeat-y; /* add an image to create left and right borders, the 4 px is to offset the left padding */
    	}
    
    #table2 span {
    	float: left;
    	padding: 0 10px;
    	border-top: 1px solid #e3e7e7;
    	}
    
    #table2 p.firstLine span { /* to get rid of the top border caused by previous */
    	border-top: none;
    	}
    
    #table2 span.col1 {
    	width: 110px;
    	}
    
    #table2 span.col2 {
    	width: 382px;
    	}
    
    #table2 span.col3 {
    	width: 112px;
    	text-align: right;
    	}
    
    #table2 .lastLine { /* you need this class on the empty last line to create an even border on the last row of the table */
    	clear: both;
    	width: 666px;
    	margin-left: 3px;
    	border-top: 1px solid #e3e7e7;
    	}
%body
  #table
    %p.firstLine
      %span.col1  
      %span.col2  
      %span.col3  
    %p
      %span.col1  
      %span.col2  
      %span.col3 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam consequat, odio facilisis lobortis aliquam, magna elit egestas dui, ullamcorper gravida enim dui ut mauris.
    %p
      %span.col1  
      %span.col2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam consequat, odio facilisis lobortis aliquam, magna elit egestas dui, ullamcorper gravida enim dui ut mauris.
      %span.col3  
    %p
      %span.col1 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam consequat, odio facilisis lobortis aliquam, magna elit egestas dui, ullamcorper gravida enim dui ut mauris.
      %span.col2  
      %span.col3  
    .lastLine
  / eof #table
  .container
    %h2 Tableless Table "Hack"
    .content
      #table2
        %p.firstLine
          %span.col1  
          %span.col2  
          %span.col3  
        %p
          %span.col1  
          %span.col2  
          %span.col3 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam consequat, odio facilisis lobortis aliquam, magna elit egestas dui, ullamcorper gravida enim dui ut mauris.
        %p
          %span.col1  
          %span.col2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam consequat, odio facilisis lobortis aliquam, magna elit egestas dui, ullamcorper gravida enim dui ut mauris.
          %span.col3  
        %p
          %span.col1 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam consequat, odio facilisis lobortis aliquam, magna elit egestas dui, ullamcorper gravida enim dui ut mauris.
          %span.col2  
          %span.col3  
        .lastLine
      / eof #table
      .cleaner
    / eof #content
  / eof #container