
$content-width: 1000px;
$table-width: 740px;
$sidebar-width: 240px;
$col-width-name: 100px;
$col-width-email: 240px;
$col-width-address: 240px;
$col-width-number: 100px;
$col-width-delete: 50px;

.header{
	text-align: center;
}

.container {
  margin-bottom: 10px;
  width: $content-width;
}

h2{
  text-align: center;
}

.content {
  width: $table-width;
  float: left;
  text-align: center;
}

.sidebar{
	width: $sidebar-width;
	float: left;
	margin-left:20px;
	text-align: left;
}

#csstable {
  p {
    float: left;
	clear: both;
    width: 100%;
    margin: 0;
  }
  span {
    float: left;

    &.col{
      border-left: 1px solid #e3e7e7;
      border-bottom: 1px solid #e3e7e7;
    }

    &.col1 {
      border-left: 1px solid #e3e7e7;
      border-bottom: 1px solid #e3e7e7;
      min-width: $col-width-name;
      max-width: $col-width-name;
    }
    &.col2 {
      border-left: 1px solid #e3e7e7;
      border-bottom: 1px solid #e3e7e7;
      min-width: $col-width-email;
      max-width: $col-width-email;
    }
    &.col3 {
      border-left: 1px solid #e3e7e7;
      border-bottom: 1px solid #e3e7e7;
      min-width: $col-width-address;
      max-width: $col-width-address;
    }
    &.col4 {
      border-left: 1px solid #e3e7e7;
      border-bottom: 1px solid #e3e7e7;
      min-width: $col-width-number;
      max-width: $col-width-number;
    }
    &.col5 {
      border-left: 1px solid #e3e7e7;
      border-bottom: 1px solid #e3e7e7;
      border-right: 1px solid #e3e7e7;
      min-width: $col-width-delete;
    }
  }

  p.firstLine span {
    border-top: 1px solid #e3e7e7;
    font-size: 1.2em;
    font-weight:bold;
  }
}

